<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista e Kafesë</title>
</head>
<body>
<h2>Llojet e Kafesë</h2>
<a th:href="@{/admin/coffees/new}">Shto Kafe të Re</a><br><br>
<table border="1">
    <thead>
    <tr>
        <th>Emri</th>
        <th>Përshkrimi</th>
        <th>Çmimi</th>
        <th>Origjina</th>
        <th>Intensiteti</th>
        <th>Veprime</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="coffee : ${coffees}">
        <td th:text="${coffee.name}"></td>
        <td th:text="${coffee.description}"></td>
        <td th:text="${coffee.price} + ' €'"></td>
        <td th:text="${coffee.origin}"></td>
        <td th:text="${coffee.intensityOfCoffee}"></td>
        <td>
            <a th:href="@{'/admin/coffees/edit/' + ${coffee.id}}">Ndrysho</a> |
            <a th:href="@{'/admin/coffees/delete/' + ${coffee.id}}"
               onclick="return confirm('Je i sigurt që do ta fshish këtë kafe?');">
                Fshi
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>